body {
    background-color: #e8f5e9;
    color: #1b5e20;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  #loginMain {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }
  
  #logoMain {
    width: 60%;
    height: auto;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 3.5em;
    margin-bottom: 5px;
  }
  
  p {
    margin: 5px 0;
    font-size: 2.5em;
  }
  
  p:first-of-type {
    margin-bottom: 20px;
  }
  
  #loginButton {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    color: #5E5E5E;
    border: 1px solid #8C8C8C;
    padding: 20px 40px;
    height: auto;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    align-self: center;
  }
  
  #loginButton a {
    text-decoration: none;
    color: #5E5E5E;
  }
  
  #microsoftLogo {
    height: 24px;
    width: 24px;
    margin-right: 12px;
  }
  
  footer {
    background-color: #1b5e20;
    color: #e8f5e9;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
  }
